<h1>Game setup</h1>

<h2>Step 1: Sélection des joueurs</h2>
<p>Joueurs prêts:</p>
<ul>
  <% @players.each do |player| %>
  <li><%= player.user.username %></li>
  <% end %>
</ul>

<% if @players.count >= 7 %>
  <p>Tous les joueurs sont réunis !</p>
  <%# <p>Maintenant renseigne leurs positions</p> %>
  <%# <%= render "players/update_positions", players: @player %> %>
<% else %>
  <p>Il manque <%= 7 - @players.count %> joueurs</p>
  <%= render "players/new", players: @players %>
<% end %>

<%= render "rounds/new" %>

<%= console %>
